
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">


    <title>Project manager chat</title>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>

    <style>
        .chat-div{
            height: 80vh;
            overflow-y: scroll;
        }
    </style>

</head>
<body>

<div class="vh-100">


    <div class="bg-primary">
        <div class="container ">
            <h1 class="text-white">inbox</h1>
            <a href="/inbox" class="text-white">Go back</a>
        </div>
    </div>

    <div class="container border">

        <!--historija-->
        <div id="chat-container" class="chat-div" data-id="<%=receiverId%>">


        </div>

        <div class="container ">
            <form id="chat-form">

                <input type="text" name="message" placeholder="message" class="form-control" >

            </form>
        </div>


    </div>


</div>




<script src="/javascript/socketsClient.js"></script>

<!--fontawesome-->
<script src="https://kit.fontawesome.com/a0f7adf235.js" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>
</html>