

<ul class="nav nav-style text-white navbar fixed-bottom navbar-dark bg-dark justify-content-center">
    <li class="nav-item  ">
        <a class="nav-link text-light  navL " href="/post/home/Matematika">Svi postovi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link navL text-light" href="/post/myPosts">Moji Postovi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link navL text-light" href="/inbox">Inbox</a>
    </li>
    <li class="nav-item">
        <a class="nav-link navL text-light " href="/student/account">Account</a>
    </li>

</ul>